/*
Сss файл для мобильной версии
*/
@media screen and (max-width: 1200px)
{
    body{
        font-family: 'Elianto';
        color: #fff;
        background-image: url(images/bkg.jpg);
        background-color: #202023;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
    .osn{
        position: absolute;
        width:300px;
        top: 5%;
        left: 25%;
    }
    .osn1{
        position: absolute;
        width:300px;
        top: 70%;
        left: 60%;
    }
    .trp{
        position: absolute;
        width: 200px;
        height: 1000px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer{
        color: #718096;
        position: absolute;
        bottom: -70px;
        width: 100%;
        height:20px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}
@media screen and (max-width: 992px)
{
    body{
        font-family: 'Elianto';
        color: #fff;
        background-image: url();
        background-color: #202023;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
    .osn{
        position: absolute;
        width:300px;
        top: 5%;
        left: 20%;
    }
    .osn1{
        position: absolute;
        width:300px;
        top: 65%;
        left: 60%;
    }
    .trp{
        position: absolute;
        width: 200px;
        height: 1000px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer{
        color: #718096;
        position: absolute;
        bottom: -70px;
        width: 100%;
        height:20px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}
@media screen and (max-width: 768px)
{
    .osn{
        position: absolute;
        width:300px;
        top: 5%;
        left: 20%;
    }
    .osn1{
        position: absolute;
        width:300px;
        top: 65%;
        left: 50%;
    }
    .trp{
        position: absolute;
        width: 200px;
        height: 1000px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer{
        color: #718096;
        position: absolute;
        bottom: -70px;
        width: 100%;
        height:20px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}
 @media screen and (max-width: 480px)
{
    .osn{
        position: absolute;
        width:300px;
        top: 5%;
        left: 20%;
    }
    .osn1{
        position: absolute;
        width:300px;
        top: 65%;
        left: 50%;
    }
    .trp{
        position: absolute;
        width: 200px;
        height: 1000px;
        top: 55%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    .footer{
        color: #718096;
        position: absolute;
        bottom: -40px;
        width: 100%;
        height:20px;
        left: 70%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}
@media screen and (max-width: 390px)
{
    .osn{
        position: absolute;
        width:300px;
        top: 5%;
        left: 25%;
    }
    .osn1{
        position: absolute;
        width:300px;
        top: 65%;
        left: 55%;
    }
    .trp{
        position: absolute;
        width: 200px;
        height: 1000px;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
    }
    .footer{
        color: #718096;
        position: absolute;
        bottom: -10px;
        width: 100%;
        height:20px;
        left: 100%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}
@media screen and (max-width: 320px)
{
    .osn{
        position: absolute;
        width:300px;
        top: 5%;
        left: 20%;
    }
    .osn1{
        position: absolute;
        width:300px;
        top: 65%;
        left: 50%;
    }
    .trp{
        position: absolute;
        width: 200px;
        height: 900px;
        top: 55%;
        left: 100%;
        transform: translate(-50%, -50%);
    }
    .footer{
        color: #718096;
        position: absolute;
        bottom: -50px;
        width: 100%;
        height:20px;
        left: 100%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}