@media only screen and (max-width: 992) {
  .logop{
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 7%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 480px) {

}