body{
    font-family: 'Elianto';
    color: #fff;
    background-color: #202023;
}
.son{
    font-size:72px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a.son:hover { color: #5265f6; }