@font-face {
    font-family: "Elianto";
    src: url("font/Elianto-Regular.eot");
    src: url("font/Elianto-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/Elianto-Regular.woff") format("woff"),
    url("font/Elianto-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url(images/bkg.jpg);
    background-color: #202023;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.content{
    height: 1000px;
}
.footer{
    color: #718096;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 45px;
    margin-bottom: 0 auto;
    left:0px;
}
.mainn{
    position: absolute;
    font-size: 24px;
    top: 20%;
    left: 37%;
    transform: translate(-50%, -50%);
}
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.sor{
    font-size: 17px;
    position: absolute;
    top: 60%;
    left: 62.2%;
    transform: translate(-50%, -50%);
    user-select: none;
    text-decoration: none;
    color: #fff;
}
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 45px;
    position: absolute;
    top: 33%;
    left: 47%;
    transform: translate(-50%, -50%);
}
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    top: 40%;
    left: 57.5%;
    transform: translate(-50%, -50%);
}
.ops{
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cap{
    text-align: center;
    color: #5265f6;
}
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
}
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 16px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
.pos{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .text {
    width: 29ch;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 3px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
}        
.logop{
    position: absolute;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 1.1%;
    margin-left: 32%;
}
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 1080;
    height: 250px;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}