@media only screen and (max-width: 1200px) {
  .wrapper{
    width: 860px;
  }
  body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url();
    background-color: #202023;
  }
  .ts{
    font-size: 14px;
    text-align: center;
  }
  .hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.footer{
    font-size: 15px;
    color: #718096;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.mainn{
    position: absolute;
    font-size: 15px;
    top: 47%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 22%;
    margin-left: 59%;
  }
.sor{
    font-size: 14px;
    position: absolute;
    margin-top: 2.8%;
    margin-left: 61%;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 30px;
    position: absolute;
    top: 38%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 43%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
.ops{
    font-size: 14px;
    position: absolute;
    top: 45%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.cap{
    text-align: center;
    color: #5265f6;
  }
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 18px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
  }
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
  }        
.logop{
    position: absolute;
    width:16px;
    height: 16px;
    position: absolute;
    top: 31%;
    margin-left: 31.5%;
  }
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 1024px) {
  .wrapper{
    width: 860px;
  }
  body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url();
    background-color: #202023;
  }
  .ts{
    font-size: 14px;
    text-align: center;
  }
  .hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.footer{
    font-size: 15px;
    color: #718096;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.mainn{
    position: absolute;
    font-size: 15px;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 27%;
    margin-left: 59%;
  }
.sor{
    font-size: 14px;
    position: absolute;
    margin-top: 3.4%;
    margin-left: 61.5%;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 30px;
    position: absolute;
    top: 33%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 39%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
.ops{
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.cap{
    text-align: center;
    color: #5265f6;
  }
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 18px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
  }
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
  }        
.logop{
    position: absolute;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25%;
    margin-left: 28.5%;
  }
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 1080;
    height: 250px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 768px) {
  .wrapper{
    width: 768px;
  }
  body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url();
    background-color: #202023;
  }
  .ts{
    font-size: 14px;
    text-align: center;
  }
  .hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.footer{
    font-size: 15px;
    color: #718096;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.mainn{
    position: absolute;
    font-size: 15px;
    top: 43%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 27%;
    margin-left: 59%;
  }
.sor{
    font-size: 14px;
    position: absolute;
    margin-top: 4.3%;
    margin-left: 62.5%;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 36px;
    position: absolute;
    top: 32%;
    left: 43%;
    transform: translate(-50%, -50%);
  }
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 39%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
.ops{
    font-size: 17px;
    position: absolute;
    top: 38%;
    left: 44%;
    transform: translate(-50%, -50%);
  }
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.cap{
    text-align: center;
    color: #5265f6;
  }
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 18px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
  }
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
  }        
.logop{
    position: absolute;
    width:16px;
    height: 16px;
    position: absolute;
    top: 31%;
    margin-left: 28.5%;
  }
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 1080;
    height: 250px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 480px) {
  .wrapper{
    width: 480px;
  }
  body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url();
    background-color: #202023;
  }
  .ts{
    font-size: 14px;
    text-align: center;
  }
  .hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.footer{
    width: 500px;
    height: 30px;
    font-size: 13px;
    color: #718096;
    position: absolute;
    top: 115%;
    text-align: center;
  }
.mainn{
    position: absolute;
    font-size: 15px;
    top: 40%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 30%;
    margin-left: 59%;
  }
.sor{
    width: 20px;
    height: 30px;
    font-size: 14px;
    position: absolute;
    margin-top: 6%;
    margin-left: 64%;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 30px;
    position: absolute;
    top: 34%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 39%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
.ops{
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.cap{
    text-align: center;
    color: #5265f6;
  }
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 18px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
  }
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
  }        
.logop{
    position: absolute;
    width:16px;
    height: 16px;
    position: absolute;
    top: 37%;
    margin-left: 25%;
  }
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 1080;
    height: 250px;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 320px) {
  .wrapper{
    width: 320px;
  }
  body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url();
    background-color: #202023;
  }
  .ts{
    font-size: 14px;
    text-align: center;
  }
  .hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .content{
    height: 900px;
  }
.footer{
    font-size: 15px;
    color: #718096;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.mainn{
    position: absolute;
    font-size: 15px;
    top: 10%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 27%;
    margin-left: 59%;
  }
.sor{
    font-size: 14px;
    position: absolute;
    top: 4.3%;
    left: 62.5%;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 30px;
    position: absolute;
    top: 28%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 33%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
.ops{
    font-size: 14px;
    position: absolute;
    top: 33%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 26%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.cap{
    text-align: center;
    color: #5265f6;
  }
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 18px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
  }
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
  }        
.logop{
    position: absolute;
    width:16px;
    height: 16px;
    position: absolute;
    top: 31%;
    margin-left: 28.5%;
  }
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 1080;
    height: 250px;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 380px) {
  .wrapper{
    width: 3px;
  }
  body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url();
    background-color: #202023;
  }
  .ts{
    font-size: 14px;
    text-align: center;
  }
  .hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.footer{
    font-size: 15px;
    color: #718096;
    position: absolute;
    top: 150%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.mainn{
    position: absolute;
    font-size: 15px;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
.logogit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35%;
    margin-left: 59%;
  }
.sor{
    font-size: 14px;
    position: absolute;
    top: 8%;
    left: 3%;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 24px;
    position: absolute;
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
  }
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 49%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
.ops{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
  }
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 35.5%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 95%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 115%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 130%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.cap{
    text-align: center;
    color: #5265f6;
  }
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
a.lin:hover {border-bottom: 1px double white;}

a.but {
    font-size: 18px;
    position: absolute;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    top: 140%;
    left: 55%;
    transform: translate(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
  }
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
  }        
.logop{
    position: absolute;
    width:16px;
    height: 16px;
    position: absolute;
    top: 42%;
    margin-left: 14%;
  }
@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .logop:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }
.sho{
    position: absolute;
    width: 220px;
    height: 220px;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
