/* 
Основной css файл
*/
@font-face {
    font-family: "Elianto";
    src: url("font/Elianto-Regular.eot");
    src: url("font/Elianto-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/Elianto-Regular.woff") format("woff"),
    url("font/Elianto-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
body{
    font-family: 'Elianto';
    color: #fff;
    background-image: url(images/bkg.jpg);
    background-color: #202023;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.hat{
    color: #fff;
    background: #21262d;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%); /* Таким методом центрируем обьекты */
    z-index: 1;
}
.content{
    max-width{100%};
    max-height{100%};
}
.footer{
    color: #718096;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.osn{
    position: absolute;
    top: 65%;
    left: 37%;
    transform: translate(-50%, -50%);
}
.sot{
    position: absolute;
    top: 67%;
    left: 60.3%;
    transform: translate(-50%, -50%);
}
.main{
    font-size: 24px;
}
.logogit{
    width: 25px;
    height: 25px;
    position: fixed;
    top: 50%;
    left: 330%;
    transform: translate(-50%, -50%);
}
.sor{
    font-size: 17px;
    user-select: none;
    text-decoration: none;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 360%;
    transform: translate(-50%, -50%);
}
a.sor:hover {border-bottom: 1px double white;}
.name{
    font-size: 45px;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.photo{
    border-radius: 100px;
    border: 2px solid #5265f6;
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.ops{
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.bor{
    border-radius: 10px;
    background: #21262d;
    width: 300px;
    height: 35px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock1{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock2{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock3{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tblock4{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cap{
    text-align: center;
    color: #5265f6;
}
.lin{
    user-select: none;
    text-decoration: none;
    color: #fff;
}
a.lin:hover {border-bottom: 1px double white;}
a.butpos{
    position: absolute;
    top: 95%;
    left: 25%;
    transform: translate:(-50%, -50%);
}
a.but {
    font-size: 16px;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #21262d;
    padding: .7em 2em; 
    outline: none; 
    border-radius: 10px;
    position: absolute;
    top: 95%;
    left: 25%;
    transform: translate:(-50%, -50%);
  } 
a.but:hover { background: #5265f6; }
 .text {
    width: 240px;
    color: white;
    white-space: nowrap;  /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 2px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite,
    printed_text 5s steps(29);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    text-align: center;
}
  @keyframes cursor {
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
}        
.logop{
    position: absolute;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 48%;
    left: -6%;
    transform: translate(-50%, -50%);
}
.sho{
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contain{
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.containo{
    position: fixed;
    width: 500px;
    height: 200px;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.trp{
    position: absolute;
    width: 200px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bpos{
    position: absolute;
    width:100px;
    height: 100px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slt{
    position: absolute;
    width: 700px;
    height: 50px;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
}
